body {
  font-family: Courier New, monospace, sans-serif;
	font-weight: 400;
  background-color: #252525;
  color: #f0f0f0;
}

.platform-android {
	font-size: 2rem;
}

.platform-ios {
	font-size: 2rem;
}

h1 {
  color: #005a9c; /* A nice blue color */
  text-align: center;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

#message-container {
	white-space: pre-wrap;
}
