html {
  font-family: Courier New, monospace, sans-serif;
	font-size: 100%;
	line-height: 1.5;
	font-weight: 400;
  background-color: #252525;
  color: #f0f0f0;
	padding: 1rem;
	width: 95%;     /* Makes the container flexible and take up most of the screen */
  max-width: 65ch; /* The key property! Sets a maximum line length. */
}

.platform-ios,
.platform-android {
	font-size: 2rem;
}

#message-container {
	white-space: pre-wrap;
}
