html {
    margin: 0 0;
    padding: 0px;
    outline: 0;
    height: 100%;
}

body {
    background-color:#111;
    font-size:110%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 0 auto;
    height: 100%;
    color: #ccc;
}

h1 {
    background-color:#191919;
    border:2px solid #342160;
    border-radius: 4px;
    margin-left: 10%;
    margin-right: 50%;
    max-width: 25%;
    min-width: 200px;
    font-weight:400;
    word-wrap: break-word;
    /* text-align: left;
    padding-left: 5rem;
    text-shadow: 2px 1px 5px violet; */
}

/* used for canvases - they look like badges */
#badgesDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 3%;
}

#badgesDiv-demo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 3%;
}

#badgeDemoText {
    flex: 1;
    margin-top: 3%;
    margin-right: 3%;
    margin-left: 5%;
    padding: 5%;
    min-width: 200px;
    max-width: 300px;
    border:2px solid #333;
    background-color: #222;
}

.demo-hr {
    border: 2px solid #342160;
    margin-top: 5%;
}


/* usable for any canvas with text overlayed */
.canvasContainer {
    position: relative;
    text-align: left;
    margin-left: 3%;
    margin-top: 3%;
}

.absoluteChild {
    color: #ccc;
    text-align: left;
    position: absolute;
    top: 5%;
    left: 5%;
    pointer-events: none;
}

.drawingCanvas {
    /* position: absolute;
    top: 5%;
    left: 5%; */
    
    border: 1px solid #342160;
    border-radius: 10px;
    background-color: #202020;
    /* margin-left: -4%;
    width: 20%; */
}

.window {
    display: flex;
}

.contentDiv {
    flex: 8;
}

#showNav {
    float: right;
    position: sticky;
    top: 4%;
    margin-right: 3%;
    /* opacity: 0.5; */
    border: 1px solid #333;
    border-radius: 5px;
    color: #ccc;
    background: #111;
    display: block;
    transform: scale(2, 2);
    opacity: 0.25;
}

#showNav:hover {
    transition-duration: 0.25s;
    cursor: pointer;
    background-color: #8567cb;
    border: 2px solid #222;
    color: black;
    opacity: 1;
}

.nav {
    position: sticky;
    background-color: #181818;
    border-left: 1px solid #5c3bab;
    padding-top: 0;
    height: 100vh;
    opacity: 0.9;
    width: 200px;
    overflow: hidden;
    /* min-width: 10%; */
}

.closed {
    width: 0px;
    transition: width, 0.1s linear;
}
    .closed.open {
        width: 200px;
        transition: width, 0.1s linear;
    }

.navButtonGroup {
    width: 100%;
    height: 100%;
    margin-top: 0px;
    padding: 0;
}
.navButton {
    display: block;
    margin: 0px;
    width: 100%;
    border: 1px solid black;
    border-radius: none;
    background-color: #5c3bab;
    color: whitesmoke;
    min-height: 5%;
}

.navButton:hover {
    background-color: #8567cb;
    color: black;
    transition-duration: 0.1s;
    cursor: pointer;
}

#currentTime {
    border: none;
    text-align: right;
    color: grey;
    margin-right: 1%;
}

#secondDiv {
    background-color: #342160;
    color: #ccc;
    border-radius: 0;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
}

#catPic {
    /* margin: 5%; */
    border-radius: 500px;
    border: 4px solid #111;
}

#alternating-container {
    display: flex;
    flex-wrap: wrap;
}

.alternating {
    flex: 1;
    background-color: #5c3bab;
    color: #ccc;
    border-radius: 2px;
    text-align: center;
    padding: 5%;
    width: 20%;
    max-width: 250px;
    min-width: 150px;
    margin: 5% auto;
}

.alternating:hover {
    background-color: #8567cb;
    color: #111;
    transition-duration: 0.1s;
}

.hangmanOutput {
    border: none;
    background-color: #342160;
    border-radius: 0;
    font-weight: bold;
}

#hangmanOutput {
    padding-top: 4rem;
    padding-bottom: 3rem;
}

#hangmanSecondary {
    font-weight: normal;
    font-size: medium;
    padding-bottom: 1rem;
}

#hangmanInput {
    margin-top: 10px;
    background-color: #333;
    border: 2px solid #342160;
    color:ccc;
    text-align: center;
    height: 2rem;
}

#hangmanInput:hover {
    border: 2px solid #5c3bab;
    transition-duration: 0.1s;
}

#hangmanInput:focus {
    border:2px solid #8567cb;
    outline: #8567cb;
}

#playAgainButton {
    background-color: #111;
    color: gray;
    border: 2px solid #111;
    border-radius: 10px;
    display: none;
}

#playAgainButton:hover {
    transition-duration: 0.2s;
    border: 2px solid #8567cb;
    border-radius: 10px;
    background-color: #8567cb;
    color: black;
    cursor: pointer;
}